
<section class="w3l-footers-20">
    <div class="footers20">
        <div class="container">
            <div class="footers20-content">
                <div class="row grid-col-4 grids-content">
                    <div class="column col-lg-3 col-md-6 col-sm-6">
                        <h2>
                            <a class="footer-logo" href="index.html">
                                <span class="fa-solid fa-user-secret"
                                      aria-hidden="true"></span>Kanıt Peşinde
                            </a>
                        </h2>
                        <p class="contact-para3 para">
                            Dedektifimize yardım et ve katili bul. Kanını donduracak saatlerini alacak bir seri katil dosyası. Çayı- nı kahveni kap gel üstüne konuş- mamız gereken ipuçları var.
                        </p>
                    </div>
                    <div class="column col-lg-3 col-md-6 col-sm-6">
                        <h4>Cinayet Haberleri</h4>
                        <div class="img-text">
                            <a href="blog.html">
                                <img src="~/KanitPesinde/assets/images/layout/p1.jpg" alt=""
                                     class="img-responsive ">
                            </a>
                            <div class="post-details">
                                <a href="blog.html">
                                    <p class="contact-mail para"> Olay 1 </p>
                                </a>
                                <p class="para">4 Nisan</p>

                            </div>
                        </div>
                        <div class="img-text mt-3">
                            <a href="blog.html">
                                <img src="~/KanitPesinde/assets/images/layout/p2.jpg" alt=""
                                     class="img-responsive ">
                            </a>
                            <div class="post-details">
                                <a href="blog.html">
                                    <p class="contact-mail para"> Olay 2 </p>
                                </a>
                                <p class="para">8 Nisan</p>

                            </div>
                        </div>
                    </div>
                    <div class="column col-lg-3 col-md-6 col-sm-6">
                        <h4>Olay Yeri</h4>
                        <div class="img-instagram">
                            <div class="img-inst">
                                <a href="blog.html">
                                    <img src="~/KanitPesinde/assets/images/layout/a1.jpg" alt=""
                                         class="img-responsive pb-1">
                                </a>
                                <a href="blog.html">
                                    <img src="~/KanitPesinde/assets/images/layout/a2.jpg" alt=""
                                         class="img-responsive mt-2">
                                </a>
                            </div>
                            <div class="img-inst">
                                <a href="blog.html">
                                    <img src="~/KanitPesinde/assets/images/layout/a3.jpg" alt=""
                                         class="img-responsive pb-1">
                                </a>
                                <a href="blog.html">
                                    <img src="~/KanitPesinde/assets/images/layout/a4.jpg" alt=""
                                         class="img-responsive mt-2">
                                </a>
                            </div>
                            <div class="img-inst">
                                <a href="blog.html">
                                    <img src="~/KanitPesinde/assets/images/layout/a5.jpg" alt=""
                                         class="img-responsive pb-1">
                                </a>
                                <a href="blog.html">
                                    <img src="~/KanitPesinde/assets/images/layout/a6.jpg" alt=""
                                         class="img-responsive mt-2 ">
                                </a>
                            </div>
                            <div class="img-inst">
                                <a href="blog.html">
                                    <img src="~/KanitPesinde/assets/images/layout/a7.jpg" alt=""
                                         class="img-responsive pb-1">
                                </a>
                            </div>
                            <div class="img-inst">
                                <a href="blog.html">
                                    <img src="~/KanitPesinde/assets/images/layout/a8.jpg" alt=""
                                         class="img-responsive pb-1">
                                </a>
                            </div>
                            <div class="img-inst">
                                <a href="blog.html">
                                    <img src="~/KanitPesinde/assets/images/layout/a9.jpg" alt=""
                                         class="img-responsive pb-1">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="column col-lg-3 col-md-6 col-sm-6">
                        <h4>İLETİŞİM İÇİN :</h4>
                        <p class="contact-para3 para">
                            Eğer bir hata alıyorsan bizimle iletişime geçebilirsin.
                        </p>
                        <form action="#" method="post" class="rightside-form">
                            <input type="email" name="email" placeholder="Mesajını yaz..." required="">
                            <button class="btn button-icon" type="submit">
                                <span class="fa fa-paper-plane-o"
                                      aria-hidden="true"></span>
                            </button>
                        </form>
                    </div>
                </div>
                <div class="row grid-col-3 grids-content1 bottom-border">
                    <div class="columns text-md-left links-grid col-md-3 ">
                        <ul class="links">
                            <li><a href="#links">Kanıt Peşinde</a></li>
                        </ul>
                    </div>
                    <div class="columns text-center copyright-grid col-md-6 ">
                        <p class="copy-footer-29">
                            © 2023 MSZEŞ . All rights reserved | Design by  <a href="https://w3layouts.com/" target="_blank"> Kanıt Peşinde </a>
                        </p>
                    </div>
                    <div class="columns text-md-right social-grid col-md-3 ">
                        <ul class="social">
                            <li><a href="#url"><span class="fa-brands fa-facebook" aria-hidden="true"></span></a></li>
                            <li><a href="#url"><span class="fa-brands fa-instagram" aria-hidden="true"></span></a></li>
                            <li><a href="#url"><span class="fa-brands fa-twitter" aria-hidden="true"></span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>