<section class=" w3l-header-4">
    <header id="site-header" class="fixed-top">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-dark">
                <h1>
                    <a class="navbar-brand" href="index.html">
                        <span class="fa-solid fa-user-secret" aria-hidden="true"></span>Kanıt Peşinde
                    </a>
                </h1>
                <button class="navbar-toggler bg-gradient" type="button" data-toggle="collapse"
                        data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item active">
                            <a class="nav-link" href="">Ana Sayfa <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="about.html">Oyun Hakkında</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Games
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a href="services.html" class="nav-link">Our Games </a>
                                <a href="services-single.html" class="nav-link">Games Details </a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Pages
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="nav-link drop-text" href="portfolio.html">Gallery</a>
                                <a class="nav-link drop-text" href="portfolio-single.html">
                                    Gallery
                                    Single
                                </a>
                                <a class="nav-link drop-text " href="team.html">Team</a>
                                <a class="nav-link drop-text" href="team-single.html">Team Single</a>
                                <a class="nav-link drop-text" href="timeline.html">Timeline</a>
                                <a class="nav-link drop-text" href="faq.html">Faq</a>
                                <a class="nav-link drop-text" href="pricing.html">pricing</a>
                                <a class="nav-link drop-text" href="email-template.html">E-template</a>
                                <a class="nav-link drop-text" href="404.html">404</a>
                                <a class="nav-link drop-text" href="coming-soon.html">Coming soon</a>
                                <a class="nav-link drop-text" href="login.html">login</a>
                                <a class="nav-link drop-text" href="signup.html">Sign up</a>
                                <a class="nav-link drop-text" href="landing-single.html">Landingpage</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Blog
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="nav-link drop-text" href="blog.html">Blog</a>
                                <a class="nav-link drop-text" href="blog-single.html">Blog Single</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Shop
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="nav-link drop-text" href="ecommerce.html">Ecommerce</a>
                                <a class="nav-link drop-text" href="ecommerce-single.html">
                                    Ecommerce
                                    single
                                </a>
                                <a class="nav-link drop-text" href="ecommerce-cart.html">
                                    Ecommerce
                                    cart
                                </a>
                                <a class="nav-link drop-text" href="search-results.html">
                                    Search
                                    Results
                                </a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="contact.html">Contact</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
</section>