<!-- İPUCU 2 -->
<section class="w3l-inner-banner-main">
    <div class="about-inner inner2">
        <div class="container seen-w3">
            <h4 class="title">İPUCU SAYFASI</h4>
            <ul class="breadcrumbs-custom-path">
                <li><a href="index.html">Ana Sayfa <span class="fa fa-angle-right" aria-hidden="true"></span></a></li>
                <li class="active">İpucu Sayfası 2</li>
            </ul>
        </div>
    </div>
</section>
<!-- breadcrumbs //-->
<section class="w3l-faq-page">
    <div class="faq-main">
        <div class="container">
            <div class="main-titles-head text-center">

                <h3 class="header-name">
                    İpuçlarının şifresini çöz ve katili bul!
                </h3>
                <p class="para mt-3">
                    İpuçlarını çözmek için biraz kafa yorman gerekiyor. Eğer bulamazsan " İPUCUNA GİT " butonuna bas ve ipucunu bulmaya çalış. İpucunu bulamazsan oyuna devam edemeyeceğini unutma!
                </p>
            </div>
            <div class="faq-both-pages">
                <div class="faq-content">
                    <div class="faq-question">
                        <input id="q1" type="checkbox" class="panel">
                        <div class="plus">+</div>
                        <label for="q1" class="panel-title">
                            <h4>Katilin Mektubundaki Şifresinin İpucu </h4>
                        </label>
                        <div class="panel-content">
                            <p>RoseKiller isimli seri katilin gönderdiği kriptex düzeneğinin alfabesi Enokyan dili ile hazırlanmış ve üstte alfabenin Türkçe karşılığı verilmiştir. Bu düzeneği çözemesek bile katilin RoseKiller rumuzundaki baş harfleriyle bir ilgisi olabileceğini düşünüyoruz. <br />
                            Kriptex şifreleme yöntemini araştırdık ve bazı harfleri baz alarak şu şekilde şifrelenebileceğini öğrendik. Enokyan alfabesindeki A harfinin Türkçe karşılığındaki A, katilin gönderdiği cümle ile örtüşmüyor. Bunu ancak sen çözebilirsin. </p>
                            <div style="text-align:center;">
                                <img src="~/KanitPesinde/assets/images/kriptexalfabe.jpg" style="width:250px;" alt="">

                            </div>
                 
                        </div>

                    </div>

                    <div class="faq-question">
                        <input id="q2" type="checkbox" class="panel">
                        <div class="plus">+</div>
                        <label for="q2" class="panel-title">
                            <h4>Nazlı Çetin'in Cesedinin Yanında Bulunan Ayakkabı Numarası (42 -43)</h4>
                        </label>
                        <div class="panel-content">
                            <b>Kerim Kızıl</b> : 42<br />
                            <b>Ferit Kanca</b> : 43<br />
                            <b>Sinan Ay</b> : 44<br />
                            <b>Beril Karaca</b> : 38<br />
                            <b>Erdem Tan</b> : 43<br />
                            <b>Gökhan Kanca</b> : 43<br />
                            <b>Mustafa Çam</b> : 45<br />
                            <b>Karsu İnce</b> : 42<br />
                            <b>Nilgün Mutlu</b> : 39<br />
                            <b>Yasin Lale</b> : 42<br />
                            <b>Yeliz Guru</b> : 38<br />
                        </div>
                    </div>

    

                </div>
            </div>
        </div>
    </div>

</section>
