@{
    ViewData["Title"] = "NewspaperTwo";
    Layout = "~/Views/Shared/_KanitPesindeLayout.cshtml";
}
<!-- GAZETE 2 -->
<section class="w3l-inner-banner-main">
    <div class="about-inner inner2">
        <div class="container seen-w3">
            <h4 class="title">Blog</h4>
            <ul class="breadcrumbs-custom-path">
                <li><a href="index.html">Home <span class="fa fa-angle-right" aria-hidden="true"></span></a></li>
                <li class="active">Blog</li>
            </ul>
        </div>
    </div>
</section>
<!-- breadcrumbs //-->
<!-- blog block -->
<section class="w3l-services-6">
    <div class="services-layout">
        <div class="container">
            <div class="blog-post">
                <img style="box-shadow:1px 1px 10px 5px saddlebrown;" src="~/KanitPesinde/assets/images/newspaper2.jpeg" alt="" class="img-responsive">

            </div>
        </div>
    </div>
</section>





