
@{
    ViewData["Title"] = "Accused2deneme";
    Layout = "~/Views/Shared/_KanitPesindeLayout.cshtml";
}

@*SANIKLAR 2 *@
<section class="w3l-inner-banner-main">
    <div class="about-inner inner2">
        <div class="container seen-w3">
            <h4 class="title"> Squads</h4>
            <ul class="breadcrumbs-custom-path">
                <li><a href="index.html">Home <span class="fa fa-angle-right" aria-hidden="true"></span></a></li>
                <li class="active">Squads Page</li>
            </ul>
        </div>
    </div>
</section>
<!-- breadcrumbs //-->
<section class="w3l-team-main-6">
    <!-- /team-grids -->
    <div class="team-content">
        <div class="container">
            <div class="main-titles-head text-center">

                <h3 class="header-name">
                    Our Squads
                </h3>
                <p class="para mt-3">
                    Amet consectetur adipisicing elit. Repell endus veniam, quaerat quasi in vel exerci
                    tationem cum consequatur accusamus. Maxime quibusdam explicabo assumenda veniam velit.
                </p>
            </div>
            <div class="row grid-col-4 text-center">
                <div class="team-colomn col-lg-3 col-md-6 col-sm-6">
                    <div class="team-main-6">
                        <div class="column-6">
                            <a href="team-single.html"><img class="img-responsive" src="~/kanitpesinde/assets/images/t1.jpg" alt=" "></a>
                        </div>
                        <div class="right-team-9">
                            <h6><a href="team-single.html" class="title-team-32">Adam Ster</a></h6>
                            <p class="sm-text-32">Game designer</p>

                            <div class="buttons-teams">
                                <a class="facebook" href="#url"><span class="fa fa-facebook" aria-hidden="true"></span></a>
                                <a class="twitter" href="#url"><span class="fa fa-twitter" aria-hidden="true"></span></a>
                                <a class="insta" href="#url"><span class="fa fa-instagram" aria-hidden="true"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="team-colomn col-lg-3 col-md-6 col-sm-6">
                    <div class="team-main-6">
                        <div class="column-6">
                            <a href="team-single.html"><img class="img-responsive" src="~/kanitpesinde/assets/images/t2.jpg" alt=" "></a>
                        </div>
                        <div class="right-team-9">
                            <h6><a href="team-single.html" class="title-team-32">John doe</a></h6>
                            <p class="sm-text-32">Graphic designer</p>
                            <div class="buttons-teams">
                                <a class="facebook" href="#url"><span class="fa fa-facebook" aria-hidden="true"></span></a>
                                <a class="twitter" href="#url"><span class="fa fa-twitter" aria-hidden="true"></span></a>
                                <a class="insta" href="#url"><span class="fa fa-instagram" aria-hidden="true"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="team-colomn col-lg-3 col-md-6 col-sm-6">
                    <div class="team-main-6">
                        <div class="column-6">
                            <a href="team-single.html"><img class="img-responsive" src="~/kanitpesinde/assets/images/t3.jpg" alt=" "></a>
                        </div>
                        <div class="right-team-9">
                            <h6><a href="team-single.html" class="title-team-32">Dane Walker</a></h6>
                            <p class="sm-text-32">3D designer</p>

                            <div class="buttons-teams">
                                <a class="facebook" href="#url"><span class="fa fa-facebook" aria-hidden="true"></span></a>
                                <a class="twitter" href="#url"><span class="fa fa-twitter" aria-hidden="true"></span></a>
                                <a class="insta" href="#url"><span class="fa fa-instagram" aria-hidden="true"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="team-colomn col-lg-3 col-md-6 col-sm-6">
                    <div class="team-main-6">
                        <div class="column-6">
                            <a href="team-single.html"><img class="img-responsive" src="~/kanitpesinde/assets/images/t4.jpg" alt=" "></a>
                        </div>
                        <div class="right-team-9">
                            <h6><a href="team-single.html" class="title-team-32">Elijah</a></h6>
                            <p class="sm-text-32">Sound effector</p>
                            <div class="buttons-teams">
                                <a class="facebook" href="#url"><span class="fa fa-facebook" aria-hidden="true"></span></a>
                                <a class="twitter" href="#url"><span class="fa fa-twitter" aria-hidden="true"></span></a>
                                <a class="insta" href="#url"><span class="fa fa-instagram" aria-hidden="true"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="team-colomn col-lg-3 col-md-6 col-sm-6 mt-4 pt-1">
                    <div class="team-main-6">
                        <div class="column-6">
                            <a href="team-single.html"><img class="img-responsive" src="~/kanitpesinde/assets/images/t5.jpg" alt=" "></a>
                        </div>
                        <div class="right-team-9">
                            <h6><a href="team-single.html" class="title-team-32">William</a></h6>
                            <p class="sm-text-32">Graphic designer</p>
                            <div class="buttons-teams">
                                <a class="facebook" href="#url"><span class="fa fa-facebook" aria-hidden="true"></span></a>
                                <a class="twitter" href="#url"><span class="fa fa-twitter" aria-hidden="true"></span></a>
                                <a class="insta" href="#url"><span class="fa fa-instagram" aria-hidden="true"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3  col-md-6 col-sm-6 mt-4 pt-1">
                    <div class="team-main-6">
                        <div class="column-6">
                            <a href="team-single.html"><img class="img-responsive" src="~/kanitpesinde/assets/images/t4.jpg" alt=" "></a>
                        </div>
                        <div class="right-team-9">
                            <h6><a href="team-single.html" class="title-team-32">Alexander</a></h6>
                            <p class="sm-text-32">3D designer</p>
                            <div class="buttons-teams">
                                <a class="facebook" href="#url"><span class="fa fa-facebook" aria-hidden="true"></span></a>
                                <a class="twitter" href="#url"><span class="fa fa-twitter" aria-hidden="true"></span></a>
                                <a class="insta" href="#url"><span class="fa fa-instagram" aria-hidden="true"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="team-colomn col-lg-3 col-md-6 col-sm-6 mt-4 pt-1">
                    <div class="team-main-6">
                        <div class="column-6">
                            <a href="team-single.html"><img class="img-responsive" src="~/kanitpesinde/assets/images/t1.jpg" alt=" "></a>
                        </div>
                        <div class="right-team-9">
                            <h6><a href="team-single.html" class="title-team-32">Benjamin</a></h6>
                            <p class="sm-text-32">Animator</p>
                            <div class="buttons-teams">
                                <a class="facebook" href="#url"><span class="fa fa-facebook" aria-hidden="true"></span></a>
                                <a class="twitter" href="#url"><span class="fa fa-twitter" aria-hidden="true"></span></a>
                                <a class="insta" href="#url"><span class="fa fa-instagram" aria-hidden="true"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="team-colomn col-lg-3 col-md-6 col-sm-6 mt-4 pt-1">
                    <div class="team-main-6">
                        <div class="column-6">
                            <a href="team-single.html"><img class="img-responsive" src="~/kanitpesinde/assets/images/t2.jpg" alt=" "></a>
                        </div>
                        <div class="right-team-9">
                            <h6><a href="team-single.html" class="title-team-32">Thomas Carl</a></h6>
                            <p class="sm-text-32">Sound effector</p>
                            <div class="buttons-teams">
                                <a class="facebook" href="#url"><span class="fa fa-facebook" aria-hidden="true"></span></a>
                                <a class="twitter" href="#url"><span class="fa fa-twitter" aria-hidden="true"></span></a>
                                <a class="insta" href="#url"><span class="fa fa-instagram" aria-hidden="true"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /team-grids -->
</section>
