
@{
    ViewData["Title"] = "Crimescene1deneme";
    Layout = "~/Views/Shared/_KanitPesindeLayout.cshtml";
}



<!-- OLAY YERİ 1 -->
<section class="w3l-inner-banner-main">
    <div class="about-inner inner2">
        <div class="container seen-w3">
            <h4 class="title">Search Page</h4>
            <ul class="breadcrumbs-custom-path">
                <li><a href="index.html">Home <span class="fa fa-angle-right" aria-hidden="true"></span></a></li>
                <li class="active">Search</li>
            </ul>
        </div>
    </div>
</section>
<!-- breadcrumbs //-->
<section class="w3l-search1">
    <!-- /search-section -->
    <div class="search-results section-gap">
        <div class="container">
            <div class="search-top">
                <div class="main-titles-head text-center">

                    <h3 class="header-name">
                        Search Here
                    </h3>
                    <p class="para mt-3">
                        Amet consectetur adipisicing elit. Repell endus veniam, quaerat quasi in vel exerci
                        tationem cum consequatur accusamus. Maxime quibusdam explicabo assumenda veniam velit.
                    </p>
                </div>
                <div class="search-right">
                    <form action="#" methos="GET" class="d-flex search-form">
                        <input type="search" placeholder="Type your keywords..." required="required">
                        <button type="submit" class="btn theme-submit-button">Search</button>
                    </form>
                </div>
                <div class="search-text-info">
                    <div class="search-content">
                        <article class="search-grid">
                            <div class="search-left-img">
                                <a href="#url" class="thumbnail">
                                    <img class="img-responsive" src="~/KanitPesinde/assets/images/g1.jpg"
                                         alt="search">
                                </a>
                            </div>

                            <div class="search-right-info excerpet">
                                <h4><a href="#url" title="">Voluptatem, exercitationem, suscipit, distinctio</a></h4>
                                <p class="para">
                                    Consectetur adipisicing elit. Voluptatem, exercitationem,Lorem ipsum dolor sit amet,
                                    suscipit, distinctio, qui sapiente aspernatur molestiae non corporis magni sit sequi iusto
                                    debitis delectus doloremque.
                                </p>

                            </div>
                        </article>

                        <article class="search-grid">
                            <div class="search-left-img">
                                <a href="#url" class="thumbnail">
                                    <img class="img-responsive" src="~/KanitPesinde/assets/images/g3.jpg"
                                         alt="search">
                                </a>
                            </div>

                            <div class="search-right-info excerpet">
                                <h4><a href="#url" title="">Voluptatem, exercitationem, suscipit, distinctio</a></h4>
                                <p class="para">
                                    Consectetur adipisicing elit. Voluptatem, exercitationem,Lorem ipsum dolor sit amet,
                                    suscipit, distinctio, qui sapiente aspernatur molestiae non corporis magni sit sequi iusto
                                    debitis delectus doloremque.
                                </p>

                            </div>
                        </article>


                        <article class="search-grid">
                            <div class="search-left-img">
                                <a href="#url" class="thumbnail">
                                    <img class="img-responsive" src="~/KanitPesinde/assets/images/g4.jpg"
                                         alt="search">
                                </a>
                            </div>

                            <div class="search-right-info excerpet">
                                <h4><a href="#url" title="">Voluptatem, exercitationem, suscipit, distinctio</a></h4>
                                <p class="para">
                                    Consectetur adipisicing elit. Voluptatem, exercitationem,Lorem ipsum dolor sit amet,
                                    suscipit, distinctio, qui sapiente aspernatur molestiae non corporis magni sit sequi iusto
                                    debitis delectus doloremque.
                                </p>

                            </div>
                        </article>

                        <article class="search-grid">
                            <div class="search-left-img">
                                <a href="#url" class="thumbnail">
                                    <img class="img-responsive" src="~/KanitPesinde/assets/images/g5.jpg"
                                         alt="search">
                                </a>
                            </div>

                            <div class="search-right-info excerpet">
                                <h4><a href="#url" title="">Voluptatem, exercitationem, suscipit, distinctio</a></h4>
                                <p class="para">
                                    Consectetur adipisicing elit. Voluptatem, exercitationem,Lorem ipsum dolor sit amet,
                                    suscipit, distinctio, qui sapiente aspernatur molestiae non corporis magni sit sequi iusto
                                    debitis delectus doloremque.</p">

                            </div>
                        </article>


                        <article class="search-grid">
                            <div class="search-left-img">
                                <a href="#url" class="thumbnail">
                                    <img class="img-responsive" src="~/KanitPesinde/assets/images/g6.jpg"
                                         alt="search">
                                </a>
                            </div>

                            <div class="search-right-info excerpet">
                                <h4><a href="#url" title="">Voluptatem, exercitationem, suscipit, distinctio</a></h4>
                                <p class="para">
                                    Consectetur adipisicing elit. Voluptatem, exercitationem,Lorem ipsum dolor sit amet,
                                    suscipit, distinctio, qui sapiente aspernatur molestiae non corporis magni sit sequi iusto
                                    debitis delectus doloremque.
                                </p>

                            </div>
                        </article>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>










