
@{
    ViewData["Title"] = "detectivestorydeneme";
    Layout = "~/Views/Shared/_KanitPesindeLayout.cshtml";
}

<!-- DETEKTİFİN HİKAYESİ  -->
<section class="w3l-inner-banner-main">
    <div class="about-inner inner2">
        <div class="container seen-w3">
            <h4 class="title">Game Details</h4>
            <ul class="breadcrumbs-custom-path">
                <li>
                    <a href="index.html">Home <span class="fa fa-angle-right" aria-hidden="true"></span></a>
                </li>
                <li class="active">Game Details</li>
            </ul>
        </div>
    </div>
</section>
<!-- breadcrumbs //-->
<section class="w3l-services-single">
    <div class="service-single-page">
        <div class="container">
            <div class="main-titles-head text-center">

                <h3 class="header-name">
                    Game Details
                </h3>
                <p class="para mt-3">
                    Amet consectetur adipisicing elit. Repell endus veniam, quaerat quasi in
                    vel exerci tationem cum consequatur accusamus. Maxime quibusdam explicabo assumenda veniam
                    velit.
                </p>
            </div>
            <div class="row">
                <div class="col-lg-6 image-col">
                    <img src="~/KanitPesinde/assets/images/a2.jpg" alt="">
                </div>
                <div class="col-lg-6 text-col">
                    <h4>Voluptate possimus adipisci repellendus placeat dolor.</h4>
                    <p class="para">
                        Nostrum voluptates corporis nisi nesciunt Lorem ipsum dolor, sit amet
                        consectetur adipisicing elit.unde voluptate possimus adipisci repellendus placeat
                        doloremque autem odit porro, laborum similique vero consequatur, quis minima eveniet
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus blanditiis eveniet
                        consequatur quaerat at porro officiis ex aut repellat.
                    </p>
                    <a href="#page" class="btn action-button btn-primary mt-lg-5 mt-4 ">Read more</a>
                </div>
            </div>
            <div class="row mt-5 mb-5 pt-lg-4 pb-lg-4 ">
                <div class="col-lg-6 text-col mt-0">
                    <h4>Consectetur adipisicing elit.Lorem ipsum dolor sit amet.</h4>
                    <p class="para">
                        Nostrum voluptates corporis nisi nesciunt Lorem ipsum dolor, sit amet
                        consectetur adipisicing elit.unde voluptate possimus adipisci repellendus placeat
                        doloremque autem odit porro, laborum similique vero consequatur, quis minima eveniet
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus blanditiis eveniet
                        consequatur quaerat at porro officiis ex aut repellat.
                    </p>
                    <a href="#page" class="btn action-button btn-primary mt-lg-5 mt-4">Read more</a>
                </div>

                <div class="col-lg-6 image-col">
                    <img src="~/KanitPesinde/assets/images/a1.jpg" alt="">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 image-col">
                    <img src="~/KanitPesinde/assets/images/a4.jpg" alt="">
                </div>
                <div class="col-lg-6 text-col">
                    <h4>Possimus adipisci repellendus placeat autem odit porro.</h4>
                    <p class="para">
                        Nostrum voluptates corporis nisi nesciunt Lorem ipsum dolor, sit amet
                        consectetur adipisicing elit.unde voluptate possimus adipisci repellendus placeat
                        doloremque autem odit porro, laborum similique vero consequatur, quis minima eveniet
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus blanditiis eveniet
                        consequatur quaerat at porro officiis ex aut repellat.
                    </p>
                    <a href="#page" class="btn action-button btn-primary mt-lg-5 mt-4">Read more</a>
                </div>
            </div>
        </div>
    </div>
</section>

