
@{
    ViewData["Title"] = "Hint1deneme";
    Layout = "~/Views/Shared/_KanitPesindeLayout.cshtml";
}


<!-- İPUCU 1 -->
<section class="w3l-inner-banner-main">
    <div class="about-inner inner2">
        <div class="container seen-w3">
            <h4 class="title">Faq's</h4>
            <ul class="breadcrumbs-custom-path">
                <li><a href="index.html">Home <span class="fa fa-angle-right" aria-hidden="true"></span></a></li>
                <li class="active">Faq Page</li>
            </ul>
        </div>
    </div>
</section>
<!-- breadcrumbs //-->
<section class="w3l-faq-page">
    <div class="faq-main">
        <div class="container">
            <div class="main-titles-head text-center">

                <h3 class="header-name">
                    Frequently Asked Questions
                </h3>
                <p class="para mt-3">
                    Amet consectetur adipisicing elit. Repell endus veniam, quaerat quasi in vel exerci
                    tationem cum consequatur accusamus. Maxime quibusdam explicabo assumenda veniam velit.
                </p>
            </div>
            <div class="faq-both-pages">
                <div class="faq-content">
                    <div class="faq-question">
                        <input id="q1" type="checkbox" class="panel">
                        <div class="plus">+</div>
                        <label for="q1" class="panel-title">
                            <h4>Sit amet consectetur.Lorem ipsum dolor</h4>
                        </label>
                        <div class="panel-content">
                            Sit amet consectetur adipisicing elit.Lorem ipsum dolor Minus quis quasi
                            consequuntur necessitatibus a? Numquam, et nulla reprehenderit, at ullam dignissimos neque perferendis
                            dolor.
                        </div>
                    </div>

                    <div class="faq-question">
                        <input id="q2" type="checkbox" class="panel">
                        <div class="plus">+</div>
                        <label for="q2" class="panel-title">
                            <h4>Similique itaque voluptates consectetur cum.</h4>
                        </label>
                        <div class="panel-content">
                            Consectetur adipisicing elit.Lorem ipsum dolor sit, amet Dolores facilis
                            nisi, quasi, rerum deleniti beatae natus soluta quibusdam architecto, cum quam voluptas? Adipisci
                            incidunt odio provident culpa expedita deserunt aliquid.
                        </div>
                    </div>

                    <div class="faq-question">
                        <input id="q3" type="checkbox" class="panel">
                        <div class="plus">+</div>
                        <label for="q3" class="panel-title">
                            <h4>Iste dolore sit quibusdam beatae.</h4>
                        </label>
                        <div class="panel-content">
                            Dolor sit amet consectetur Lorem ipsum adipisicing elit. Animi sit expedita
                            illum minus sapiente fugit distinctio tenetur harum? Suscipit debitis mollitia voluptatibus, vel quasi
                            reprehenderit dolorum. Error nemo exercitationem vel
                        </div>
                    </div>
                    <div class="faq-question">
                        <input id="q4" type="checkbox" class="panel">
                        <div class="plus">+</div>
                        <label for="q4" class="panel-title">
                            <h4>Sit amet consectetur.Lorem ipsum dolor</h4>
                        </label>
                        <div class="panel-content">
                            Dolor sit amet consectetur Lorem ipsum adipisicing elit. Animi sit expedita
                            illum minus sapiente fugit distinctio tenetur harum? Suscipit debitis mollitia voluptatibus, vel quasi
                            reprehenderit dolorum. Error nemo exercitationem vel
                        </div>
                    </div>
                    <div class="faq-question">
                        <input id="q5" type="checkbox" class="panel">
                        <div class="plus">+</div>
                        <label for="q5" class="panel-title">
                            <h4>Similique itaque voluptates consectetur cum.</h4>
                        </label>
                        <div class="panel-content">
                            Dolor sit amet consectetur Lorem ipsum adipisicing elit. Animi sit expedita
                            illum minus sapiente fugit distinctio tenetur harum? Suscipit debitis mollitia voluptatibus, vel quasi
                            reprehenderit dolorum. Error nemo exercitationem vel
                        </div>
                    </div>
                    <div class="faq-question">
                        <input id="q6" type="checkbox" class="panel">
                        <div class="plus">+</div>
                        <label for="q6" class="panel-title">
                            <h4>Iste dolore sit quibusdam beatae!</h4>
                        </label>
                        <div class="panel-content">
                            Dolor sit amet consectetur Lorem ipsum adipisicing elit. Animi sit expedita
                            illum minus sapiente fugit distinctio tenetur harum? Suscipit debitis mollitia voluptatibus, vel quasi
                            reprehenderit dolorum. Error nemo exercitationem vel
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>


