@{
	Layout = "_KanitPesindeLayout";
}

 <div class="w3l-hero-headers-9">
        <div class="css-slider">
            <input id="slide-1" type="radio" name="slides" checked>
            <section class="slide slide-one">
                <div class="container">
                    <div class="banner-text">
                        <h2>End of the game</h2>
                        <p>Adipi sicing elit. Quia, aliquid odio Lorem ipsum dolor sit amet conse ctetur
                            tempora ex veniam assumenda voluptate, inventore dolorum sequi dolor enim aperiam
                            laudantium excepturi fugiat, quibusdam delectus recusandae voluptatibus animi.</p>
                        <a href="contact.html" class="btn logo-button top-margin">Read More</a>
                    </div>
                </div>
                <!-- <nav>
        <label for="slide-3" class="prev">&#10094;</label>
        <label for="slide-2" class="next">&#10095;</label>
      </nav> -->
            </section>
            <input id="slide-2" type="radio" name="slides">
            <section class="slide slide-two">
                <div class="container">
                    <div class="banner-text">
                        <h2>End of the game</h2>
                        <p>Adipi sicing elit. Quia, aliquid odio Lorem ipsum dolor sit amet conse ctetur
                            tempora ex veniam assumenda voluptate, inventore dolorum sequi dolor enim aperiam
                            laudantium excepturi fugiat, quibusdam delectus recusandae voluptatibus animi.</p>
                        <a href="contact.html" class="btn logo-button top-margin">Read More</a>
                    </div>
                </div>
                <!-- <nav>
        <label for="slide-1" class="prev">&#10094;</label>
        <label for="slide-3" class="next">&#10095;</label>
      </nav> -->
            </section>
            <header>
                <label for="slide-1" id="slide-1"></label>
                <label for="slide-2" id="slide-2"></label>
            </header>
        </div>
    </div>
    <section class="w3l-call-to-action_9">
        <div class="call-w3">
            <div class="container">
                <div class=" main-cont-wthree-2">
                    <div class="left-contect-calls text-center">
                        <h3 class="header-name">About The Game</h3>
                        <p class="tiltle-para">Sit amet cons ectetur adipis icing elit.optio illum officiis itaque
                            soluta
                            impedit ex esse aspernatur Sit amet cons ectetur adipis icing elit.optio illum officiis
                            itaque
                            soluta impedit ex esse aspernatur Sit amet cons ectetur adipis icing elit.optio illum
                            officiis
                            itaque soluta impedit ex esse aspern aturCu mque iosam omnis tempo recons ectetur adipis
                            icing elit.optio illum officiis itaque
                            illum officiis .</p>
                        <div class="call-grids-w3 ">
                            <div class="grids-effect-2">
                                <span>45</span>
                                <h4>Tea</h4>
                            </div>

                            <div class=" grids-effect-2">
                                <span>26</span>
                                <h4>Coffee</h4>
                            </div>
                            <div class="grids-effect-2">
                                <span>36</span>
                                <h4>Awards</h4>
                            </div>
                            <div class="grids-effect-2">
                                <span>130</span>
                                <h4>Smiles</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="w3l-about ">
        <div class="skills-bars">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6 col-md-12 col-12 p-0 one-img pic-img">
                        <div class="container__image">
                            <figure class="container__image hover02"><img class="hover02__img"
                                    src="~/KanitPesinde/assets/images/a5.jpg" />
                                <figcaption class="hover02__caption">
                                    <div class="hover02__caption__container">
                                        <h3>Autem sit nemo <span class="hidden-para"> commodi</span> velit </h3>
                                        <p class="jst-para para">Consectetur adipis icing elit. Exerci tationem,
                                            facilis veritatis. Lorem ipsum dolor <span class="para hidden-para">sit
                                                amet Facere adipisci autem sit nemo commodi quo velit neque
                                                laboriosam iste odit, aspernatur aliquam, enim nulla Vitae,</span>
                                            ipsa cupiditate</p>
                                    </div>
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 p-0 two-img pic-img">
                        <div class="container__image">
                            <figure class="container__image hover02"><img class="hover02__img"
                                 src="~/KanitPesinde/assets/images/a1.jpg" />
                                <figcaption class="hover02__caption">
                                    <div class="hover02__caption__container">
                                        <h3>Dolorsit Amet</h3>
                                        <p class="jst-para para">Consectetur adipis icing elit. Exerci tationem.
                                            amet Facere adipisci autem sit nemo commodi</p>
                                    </div>
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 p-0 two-img pic-img">
                        <div class="container__image">
                            <figure class="container__image hover02"><img class="hover02__img"
                                 src="~/KanitPesinde/assets/images/a2.jpg" />
                                <figcaption class="hover02__caption">
                                    <div class="hover02__caption__container">
                                        <h3>Exercitati</h3>
                                        <p class="jst-para para">Consectetur adipis icing elit. Exerci tationem.
                                            amet Facere adipisci autem sit nemo commodi</p>
                                    </div>
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 p-0 one-img pic-img">
                        <div class="container__image">
                            <figure class="container__image hover02"><img class="hover02__img"
                                 src="~/KanitPesinde/assets/images/a3.jpg" />
                                <figcaption class="hover02__caption">
                                    <div class="hover02__caption__container">
                                        <h3> Facere adipisci</h3>
                                        <p class="jst-para para">Consectetur adipis icing elit. Exerci tationem.
                                            amet Facere adipisci autem sit nemo commodi</p>
                                    </div>
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 p-0 two-img pic-img">
                        <div class="container__image">
                            <figure class="container__image hover02"><img class="hover02__img"
                                 src="~/KanitPesinde/assets/images/a4.jpg" />
                                <figcaption class="hover02__caption">
                                    <div class="hover02__caption__container">
                                        <h3>Consectetur</h3>
                                        <p class="jst-para para">Consectetur adipis icing elit. Exerci tationem.
                                            amet Facere adipisci autem sit nemo commodi</p>
                                    </div>
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-12 p-0 two-img pic-img">
                        <div class="container__image">
                            <figure class="container__image hover02"><img class="hover02__img"
                                 src="~/KanitPesinde/assets/images/a6.jpg" />
                                <figcaption class="hover02__caption">
                                    <div class="hover02__caption__container">
                                        <h3>Commodi quovel <span class="hidden-para"> neque</span> labor</h3>
                                        <p class="jst-para para">Consectetur adipis icing elit. Exerci tationem,
                                            <span class="hidden-para"> facilis veritatis. Lorem ipsum dolor sit amet
                                                Facere adipisci autem sit nemo commodi quo velit neque laboriosam
                                                iste odit</span> aspernatur aliquam, enim nulla Vitae, ipsa
                                            cupiditate
                                        </p>
                                    </div>
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <section class="w3l-specification-6">
        <div class="specification-layout">
            <div class="container">
                <div class="specification-effect row text-center">
                    <div class="grids-effect-2 col-lg-4 col-md-6">

                        <div class="back-color">
                            <span class="fa fa-superpowers" aria-hidden="true"></span>
                            <h4><a href="about.html" class="title-head"> Incredible Atmosphere</a></h4>
                            <p class="para">Cumque asperiores ab quasi laboriosam omnis tempor econs ectetur
                                elit.optio illum officiis itaque
                                soluta impedit ex esse aspernatur</p>
                        </div>
                    </div>
                    <div class=" grids-effect-2 col-lg-4 col-md-6">
                        <div class="back-color">
                            <span class="fa fa-shield" aria-hidden="true"></span>
                            <h4><a href="about.html" class="title-head">Catchy Battles</a></h4>
                            <p class="para">Cumque asperiores ab quasi laboriosam omnis tempo recons ectetur
                                elit.optio illum officiis itaque
                                soluta impedit ex esse aspernatur </p>
                        </div>
                    </div>
                    <div class="grids-effect-2 col-lg-4 col-md-6">
                        <div class="back-color">
                            <span class="fa fa-trophy" aria-hidden="true"></span>
                            <h4><a href="about.html" class="title-head">Speed up</a></h4>
                            <p class="para">Cumque asperiores ab quasi laboriosam omnis tempo recons ectetur
                                elit.optio illum officiis itaque
                                soluta impedit ex esse aspernatur </p>
                        </div>
                    </div>
                    <div class="grids-effect-2 col-lg-4 col-md-6 mt-4 pt-1">
                        <div class="back-color">
                            <span class="fa fa-users" aria-hidden="true"></span>
                            <h4><a href="about.html" class="title-head">New Avatars</a></h4>
                            <p class="para">Cumque asperiores ab quasi laboriosam omnis tempor econs ectetur
                                elit.optio illum officiis itaque
                                soluta impedit ex esse aspernatur</p>
                        </div>
                    </div>
                    <div class=" grids-effect-2 col-lg-4 col-md-6 mt-4 pt-1">
                        <div class="back-color">
                            <span class="fa fa-picture-o" aria-hidden="true"></span>
                            <h4><a href="about.html" class="title-head">3D Weapons</a></h4>
                            <p class="para">Cumque asperiores ab quasi laboriosam omnis tempo recons ectetur
                                elit.optio illum officiis itaque
                                soluta impedit ex esse aspernatur </p>
                        </div>
                    </div>
                    <div class="grids-effect-2 col-lg-4 col-md-6 mt-4 pt-1 ">
                        <div class="back-color">
                            <span class="fa fa-cubes" aria-hidden="true"></span>
                            <h4><a href="about.html" class="title-head">New Levels</a></h4>
                            <p class="para">Cumque asperiores ab quasi laboriosam omnis tempo recons ectetur
                                elit.optio illum officiis itaque
                                soluta impedit ex esse aspernatur </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- grids block 4 -->
    <section class="w3l-grids-7">
        <div class="grids4-block">
            <div class="container">
                <div class="main-titles-head text-center">

                    <h3 class="header-name">With a Careful Step
                    </h3>
                    <p class="para mt-3">Amet consectetur adipisicing elit. Repell endus veniam, quaerat quasi in
                        vel exerci
                        tationem cum consequatur accusamus. Maxime quibusdam explicabo assumenda veniam velit.</p>
                </div>
                <div class="owl-carousel owl-theme text-center">
                    <div class="item">
                        <div class="grids4-info">
                            <img src="~/KanitPesinde/assets/images/l1.jpg" alt="" />
                            <div class="info-bg">
                                <h6>Level 1</h6>
                                <h5>Blood Moon</h5>

                                <p class="para">Nulla ex nunc, interdum nec egestas nec, dapibus ac mauris. egestas
                                    nec, dapibus ac mauris. Vivamus id tempor nisl.</p>

                            </div>
                            <ul class="details-cost">
                                <li><span>20</span>
                                    <h6>Strength</h6>
                                </li>
                                <li><span>30</span>
                                    <h6>Speed</h6>
                                </li>
                                <li><span>350</span>
                                    <h6>Cost</h6>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="item">
                        <div class="grids4-info">
                        <img src="~/KanitPesinde/assets/images/l2.jpg" alt="" />
                            <div class="info-bg">

                                <h6>Level 2</h6>
                                <h5>Dark night</h5>
                                <p class="para">Nulla ex nunc, interdum nec egestas nec, dapibus ac mauris. egestas
                                    nec, dapibus ac mauris. Vivamus id tempor nisl.</p>

                            </div>
                            <ul class="details-cost">
                                <li><span>20</span>
                                    <h6>Strength</h6>
                                </li>
                                <li><span>30</span>
                                    <h6>Speed</h6>
                                </li>
                                <li><span>350</span>
                                    <h6>Cost</h6>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="item">
                        <div class="grids4-info">
                        <img src="~/KanitPesinde/assets/images/l3.jpg" alt="" />
                            <div class="info-bg">

                                <h6>Level 3</h6>
                                <h5>Blue Moon</h5>
                                <p class="para">Nulla ex nunc, interdum nec egestas nec, dapibus ac mauris. egestas
                                    nec, dapibus ac mauris. Vivamus id tempor nisl.</p>

                            </div>
                            <ul class="details-cost">
                                <li><span>20</span>
                                    <h6>Strength</h6>
                                </li>
                                <li><span>30</span>
                                    <h6>Speed</h6>
                                </li>
                                <li><span>350</span>
                                    <h6>Cost</h6>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="item">
                        <div class="grids4-info">
                        <img src="~/KanitPesinde/assets/images/l4.jpg" alt="" />
                            <div class="info-bg">

                                <h6>Level 4</h6>
                                <h5>Hunting Man </h5>

                                <p class="para">Nulla ex nunc, interdum nec egestas nec, dapibus ac mauris. egestas
                                    nec, dapibus ac mauris. Vivamus id tempor nisl.</p>

                            </div>
                            <ul class="details-cost">
                                <li><span>20</span>
                                    <h6>Strength</h6>
                                </li>
                                <li><span>30</span>
                                    <h6>Speed</h6>
                                </li>
                                <li><span>350</span>
                                    <h6>Cost</h6>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="item">
                        <div class="grids4-info">
                        <img src="~/KanitPesinde/assets/images/l5.jpg" alt="" />
                            <div class="info-bg">

                                <h6>Level 5</h6>
                                <h5>Dark Hunting</h5>

                                <p class="para">Nulla ex nunc, interdum nec egestas nec, dapibus ac mauris. egestas
                                    nec, dapibus ac mauris. Vivamus id tempor nisl.</p>

                            </div>
                            <ul class="details-cost">
                                <li><span>20</span>
                                    <h6>Strength</h6>
                                </li>
                                <li><span>30</span>
                                    <h6>Speed</h6>
                                </li>
                                <li><span>350</span>
                                    <h6>Cost</h6>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="item">
                        <div class="grids4-info">
                        <img src="~/KanitPesinde/assets/images/l6.jpg" alt="" />
                            <div class="info-bg">

                                <h6>Level 6</h6>
                                <h5>Black red Nights</h5>

                                <p class="para">Nulla ex nunc, interdum nec egestas nec, dapibus ac mauris. egestas
                                    nec, dapibus ac mauris. Vivamus id tempor nisl.</p>

                            </div>
                            <ul class="details-cost">
                                <li><span>20</span>
                                    <h6>Strength</h6>
                                </li>
                                <li><span>30</span>
                                    <h6>Speed</h6>
                                </li>
                                <li><span>350</span>
                                    <h6>Cost</h6>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- grids block 4 -->

    <!-- js -->





    <section class="w3l-clients">
        <div class="main-w3">
            <div class="container">
                <!-- main-slider -->
                <div class="main-slider text-center">
                    <div class="csslider infinity" id="slider1">
                        <input type="radio" name="slide" checked="checked" id="slides_1" />
                        <input type="radio" name="slide" id="slides_2" />
                        <input type="radio" name="slide" id="slides_3" />
                        <ul>
                            <li>
                                <div class="slider-info">
                                    <div class="d-grid hh14-text">
                                        <div class="hh14-info">
                                            <h6>challenging games</h6>
                                            <p class="para">Consectetur adipisicing Lorem ipsum dolor sit amet,elit,
                                                sed do
                                                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
                                                ad
                                                minim incididunt ut labore et dolore magna aliqua. Ut enim ad
                                                minim.</p>
                                            <h4>Jack Willson</h4>
                                        </div>

                                    </div>
                                </div>
                            </li>

                            <li>
                                <div class="slider-info">
                                    <div class="d-grid hh14-text">
                                        <div class="hh14-info">
                                            <h6>Eipc Fantacy</h6>
                                            <p class="para">Consectetur adipisicing Lorem ipsum dolor sit amet,elit,
                                                sed do
                                                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
                                                ad
                                                minim incididunt ut labore et dolore magna aliqua. Ut enim ad
                                                minim.</p>
                                            <h4>Nike samson</h4>
                                        </div>

                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="slider-info">
                                    <div class="d-grid hh14-text">
                                        <div class="hh14-info">
                                            <h6>Speed Up Gamer</h6>
                                            <p class="para">Consectetur adipisicing Lorem ipsum dolor sit amet,elit,
                                                sed do
                                                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
                                                ad
                                                minim incididunt ut labore et dolore magna aliqua. Ut enim ad
                                                minim.</p>
                                            <h4>Milky Deo</h4>
                                        </div>

                                    </div>
                                </div>
                            </li>
                        </ul>
                        <!-- <div class="arrows">
                        <label for="slides_1"></label>
                        <label for="slides_2"></label>
                        <label for="slides_3"></label>
                        <label for="slides_4"></label>
                    </div> -->
                        <div class="navigation">
                            <div>
                                <label for="slides_1"></label>
                                <label for="slides_2"></label>
                                <label for="slides_3"></label>
                            </div>
                        </div>
                    </div>
                    <!-- /main-slider -->
                </div>
            </div>
        </div>
    </section>




