
@{
    ViewData["Title"] = "investigation1deneme";
    Layout = "~/Views/Shared/_KanitPesindeLayout.cshtml";
}



    <!-- SANIKLARIN İFADESİ 1 -->
    <section class="w3l-inner-banner-main">
      <div class="about-inner inner2">
        <div class="container seen-w3">
          <h4 class="title">Squad Page</h4>
          <ul class="breadcrumbs-custom-path">
            <li><a href="index.html">Home <span class="fa fa-angle-right" aria-hidden="true"></span></a></li>
            <li class="active">Squad page</li>
          </ul>
        </div>
      </div>
    </section>
    <!-- breadcrumbs //-->
    <section class="w3l-team-single">
      <div id="text14-block" class="section-gap">
        <div class="container">
          <div class="main-titles-head text-center">

            <h3 class="header-name">
              Squad Details
            </h3>
            <p class="para mt-3">Amet consectetur adipisicing elit. Repell endus veniam, quaerat quasi in vel exerci
              tationem cum consequatur accusamus. Maxime quibusdam explicabo assumenda veniam velit.</p>
          </div>
          <div class="text14-max-align">
            <h5 class="text14-heading">Hi, I am Ahamed</h5>
            <div class="align-text14-cols">
              <div class="text14-right">
                <img src="~/KanitPesinde/assets/images/t3.jpg" alt="">
                <div class="social-team">
                  <a href="#facebook" class="facebook"><span class="fa fa-facebook" aria-hidden="true"></span></a>
                  <a href="#twitter" class="twitter"><span class="fa fa-twitter" aria-hidden="true"></span></a>
                  <a href="#instagram" class="instagram"><span class="fa fa-instagram" aria-hidden="true"></span></a>
                </div>
              </div>
              <div class="text14-left">
                <p class="para">Delectus repellat tempora Lorem ipsum dolor sit amet consectetur adipisicing elit.sed
                  quos
                  at autem modi totam harum maxime fugiat, quisquam in laudantium omnis ab, consequuntur non esse
                  obcaecati Lorem
                  ipsum dolor sit amet, consectetur adipisicing elit. Quas aperiam unde asperiores sint,
                  ipsa minus quibusdam, officiis animi ad optio delectus illum corrupti iusto sed consequuntur.</p
                  class="para">
                <p>Sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                  dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>

                <h3 class="host-team-info">My Details</h3>
                <ul class="my-host-info">
                  <li><span>Date of birth</span>: Jan 28, 1992</li>
                  <li><span>Expert in</span>: Designing</li>
                  <li><span>Phone</span>: +011 222 3333</li>
                  <li><span>Email</span>: <a href="mailto:example@mail.com">mail@example.com</a></li>
                  <li><span>Address</span>: 3030 New York, NY, USA</li>
                  <li><span>Website</span>: <a href="#mywebsite">mywebsite.com</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
 




