@{
    ViewData["Title"] = "lastdeneme";
    Layout = "~/Views/Shared/_KanitPesindeLayout.cshtml";
}
<!-- breadcrumbs -->
<section class="w3l-inner-banner-main">
    <div class="about-inner inner2">
        <div class="container seen-w3">
            <h4 class="title">Games Page</h4>
            <ul class="breadcrumbs-custom-path">
                <li>
                    <a href="index.html">Home <span class="fa fa-angle-right" aria-hidden="true"></span></a>
                </li>
                <li class="active">Games</li>
            </ul>
        </div>
    </div>
</section>
<!-- breadcrumbs //-->
<section class="w3l-features-4">
    <div class="features4-block">
        <div class="container">
            <div class="main-titles-head text-center">

                <h3 class="header-name">
                    Our Games
                </h3>
                <p class="para mt-3">
                    Amet consectetur adipisicing elit. Repell endus veniam, quaerat quasi in
                    vel exerci tationem cum consequatur accusamus. Maxime quibusdam explicabo assumenda veniam
                    velit.
                </p>
            </div>
            <div class="features4-grids row">
                <div class="features4-main col-lg-4 col-md-6 col-sm-6 mb-4 pb-1">

                    <a href="services-single.html"><img src="~/KanitPesinde/assets/images/l4.jpg" alt=""></a>
                    <div class="features4-grid">
                        <h5><a href="services-single.html"> Voluptate</a></h5>
                        <p class="para">
                            Assumenda temporibus quidem ipsam. Voluptate fuga corporis iusto
                            simil...
                        </p>

                    </div>
                </div>
                <div class="features4-main col-lg-4 col-md-6 col-sm-6 mb-4 pb-1">

                    <a href="services-single.html"><img src="~/KanitPesinde/assets/images/l6.jpg" alt=""></a>
                    <div class="features4-grid">
                        <h5><a href="services-single.html">Temporibus</a></h5>
                        <p class="para">
                            Assumenda temporibus quidem ipsam. Voluptate fuga corporis iusto
                            simil...
                        </p>

                    </div>
                </div>
                <div class="features4-main col-lg-4 col-md-6 col-sm-6 mb-4 pb-1">

                    <a href="services-single.html"><img src="~/KanitPesinde/assets/images/l2.jpg" alt=""></a>
                    <div class="features4-grid">
                        <h5><a href="services-single.html">Quidesam</a></h5>
                        <p class="para">
                            Assumenda temporibus quidem ipsam. Voluptate fuga corporis iusto
                            simil....
                        </p>

                    </div>
                </div>
                <div class="features4-main col-lg-4 col-md-6 col-sm-6 mb-4 pb-1">

                    <a href="services-single.html"><img src="~/KanitPesinde/assets/images/l5.jpg" alt=""></a>
                    <div class="features4-grid">
                        <h5>
                            <a href="services-single.html">
                                Corporisiu
                            </a>
                        </h5>
                        <p class="para">
                            Assumenda temporibus quidem ipsam. Voluptate fuga corporis iusto
                            simil...
                        </p>

                    </div>
                </div>
                <div class="features4-main col-lg-4 col-md-6 col-sm-6 mb-4 pb-1">

                    <a href="services-single.html"><img src="~/KanitPesinde/assets/images/l1.jpg" alt=""></a>
                    <div class="features4-grid">
                        <h5>
                            <a href="services-single.html">
                                Quidemips
                            </a>
                        </h5>
                        <p class="para">
                            Assumenda temporibus quidem ipsam. Voluptate fuga corporis iusto
                            simil...
                        </p>

                    </div>
                </div>
                <div class="features4-main col-lg-4 col-md-6 col-sm-6 mb-4 pb-1">

                    <a href="services-single.html"><img src="~/KanitPesinde/assets/images/l3.jpg" alt=""></a>
                    <div class="features4-grid">
                        <h5><a href="services-single.html">Fugacorp</a></h5>
                        <p class="para">
                            Assumenda temporibus quidem ipsam. Voluptate fuga corporis iusto
                            simil...
                        </p>

                    </div>
                </div>
                <div class="features4-main col-lg-4 col-md-6 col-sm-6">

                    <a href="services-single.html"><img src="~/KanitPesinde/assets/images/l3.jpg" alt=""></a>
                    <div class="features4-grid">
                        <h5><a href="services-single.html">Porisiusto</a></h5>
                        <p class="para">
                            Assumenda temporibus quidem ipsam. Voluptate fuga corporis iusto
                            simil...
                        </p>

                    </div>
                </div>
                <div class="features4-main col-lg-4 col-md-6 col-sm-6">

                    <a href="services-single.html"> <img src="~/KanitPesinde/assets/images/l4.jpg" alt=""></a>
                    <div class="features4-grid">
                        <h5><a href="services-single.html">Iustosimil</a></h5>
                        <p class="para">
                            Assumenda temporibus quidem ipsam. Voluptate fuga corporis iusto
                            simil...
                        </p>
                    </div>
                </div>
                <div class="features4-main col-lg-4 col-md-6 col-sm-6">

                    <a href="services-single.html"><img src="~/KanitPesinde/assets/images/l5.jpg" alt=""></a>
                    <div class="features4-grid">
                        <h5><a href="services-single.html">Iustosimil</a></h5>
                        <p class="para">
                            Assumenda temporibus quidem ipsam. Voluptate fuga corporis iusto
                            simil...
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



