@{
    ViewData["Title"] = "Newspaper1deneme";
    Layout = "~/Views/Shared/_KanitPesindeLayout.cshtml";
}

<!-- GAZETE 1 -->
<section class="w3l-inner-banner-main">
    <div class="about-inner inner2">
        <div class="container seen-w3">
            <h4 class="title">Blog</h4>
            <ul class="breadcrumbs-custom-path">
                <li><a href="index.html">Home <span class="fa fa-angle-right" aria-hidden="true"></span></a></li>
                <li class="active">Blog</li>
            </ul>
        </div>
    </div>
</section>
<!-- breadcrumbs //-->
<!-- blog block -->
<section class="w3l-services-6">
    <div class="services-layout">
        <div class="container">
            <div class="main-titles-head text-center">
                <h3 class="header-name">
                    Blog Post
                </h3>

                <p class="para mt-3">
                    Amet consectetur adipisicing elit. Repell endus veniam, quaerat quasi in vel exerci
                    tationem cum
                    consequatur accusamus. Maxime quibusdam explicabo assumenda veniam velit.
                </p>
            </div>
            <div class="blog-post">
                <a href="blog-single.html"> <img src="~/KanitPesinde/assets/images/bb3.jpg" alt="" class="img-responsive"></a>
                <ul class="admin-list">
                    <li>
                        <a href="blog-single.html">
                            <span class="fa fa-user mr-2" aria-hidden="true"></span>
                            Admin
                        </a>
                    </li>
                    <li>
                        <a href="blog-single.html">
                            <span class="fa fa-heart-o mr-2" aria-hidden="true"></span>6
                            Likes
                        </a>
                    </li>
                    <li>
                        <a href="blog-single.html">
                            <span class="fa fa-commenting-o mr-2" aria-hidden="true"></span>9
                            Comments
                        </a>
                    </li>
                </ul>
                <h3 class="mt-4">
                    <a href="blog-single.html" class="blog-link">Nunc consequat justo id commodo feugiat</a>
                </h3>
                <p class="para">
                    Minima quis at rem quasi dolorem, inven tore Corrupti conse quatur perspi ciatis dolor
                    rem sapiente eius Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci culpa labore ducimus
                    excepturi explicabo laborum
                    officia temporibus hic distinctio repellendus veniam, ipsam nesciunt itaque tempora. Placeat dolore atque
                    sunt
                    corporis.
                </p>
                <a href="#page" class="btn action-button btn-primary mt-lg-5 mt-4 ">Read more</a>
            </div>
            <div class="blog-post">
                <a href="blog-single.html"> <img src="~/KanitPesinde/assets/images/bb2.jpg" alt="" class="img-responsive"></a>
                <ul class="admin-list">
                    <li>
                        <a href="blog-single.html">
                            <span class="fa fa-user mr-2" aria-hidden="true"></span>
                            Admin
                        </a>
                    </li>
                    <li>
                        <a href="blog-single.html">
                            <span class="fa fa-heart-o mr-2" aria-hidden="true"></span>6
                            Likes
                        </a>
                    </li>
                    <li>
                        <a href="blog-single.html">
                            <span class="fa fa-commenting-o mr-2" aria-hidden="true"></span>9
                            Comments
                        </a>
                    </li>
                   

                </ul>
                <h3 class="mt-4">
                    <a href="blog-single.html" class="blog-link">Nunc consequat justo id commodo feugiat</a>
                </h3>
                <p class="para">
                    Minima quis at rem quasi dolorem, inven tore Corrupti conse quatur perspi ciatis dolor
                    rem sapiente eius Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci culpa labore ducimus
                    excepturi explicabo laborum
                    officia temporibus hic distinctio repellendus veniam, ipsam nesciunt itaque tempora. Placeat dolore
                    atque sunt
                    corporis.
                </p>
                <a href="#page" class="btn action-button btn-primary mt-lg-5 mt-4 ">Read more</a>
            </div>
            <div class="blog-post">
                <a href="blog-single.html"> <img src="~/KanitPesinde/assets/images/bb1.jpg" alt="" class="img-responsive"></a>
                <ul class="admin-list">
                    <li>
                        <a href="blog-single.html">
                            <span class="fa fa-user mr-2" aria-hidden="true"></span>
                            Admin
                        </a>
                    </li>
                    <li>
                        <a href="blog-single.html">
                            <span class="fa fa-heart-o mr-2" aria-hidden="true"></span>6
                            Likes
                        </a>
                    </li>
                    <li>
                        <a href="blog-single.html">
                            <span class="fa fa-commenting-o mr-2" aria-hidden="true"></span>9
                            Comments
                        </a>
                    </li>
                </ul>
                <h3 class="mt-4">
                    <a href="blog-single.html" class="blog-link">Nunc consequat justo id commodo feugiat</a>
                </h3>
                <p class="para">
                    Minima quis at rem quasi dolorem, inven tore Corrupti conse quatur perspi ciatis dolor
                    rem sapiente eius Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci culpa labore ducimus
                    excepturi explicabo laborum
                    officia temporibus hic distinctio repellendus veniam, ipsam nesciunt itaque tempora. Placeat dolore atque
                    sunt
                    corporis.
                </p>
                <a href="#page" class="btn action-button btn-primary mt-lg-5 mt-4 ">Read more</a>
            </div>
            <nav aria-label="...">
                <ul class="pagination mt-5">
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item active" aria-current="page">
                        <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</section>

