


<section class="w3l-inner-banner-main">
    <div class="about-inner inner2">
        <div class="container seen-w3">
            <h4 class="title">KATİL KİM?</h4>
            <ul class="breadcrumbs-custom-path">
                <li>
                    <a href="index.html">Ana Sayfa <span class="fa fa-angle-right" aria-hidden="true"></span></a>
                </li>
                <li class="active">Katil Kim?</li>
            </ul>
        </div>
    </div>
</section>

<section class="w3l-features-4">
    <div class="features4-block">
        <div class="container">
            <div class="main-titles-head text-center">

                <h3 class="header-name">
                    Şimdi Katili Bulma Zamanı
                </h3>
                <p class="para mt-3">
                    Ben bir dedektif olarak böyle bir cinayet örgüsü kariyerim boyunca görmedim. Kafam baya karıştı ama ipuçları kafamda birini belirgin hale getirdi. Peki bakalım bu kişiyi sen düşündün mü? Senin şüphelin kim?
                </p>
            </div>
            <div class="features4-grids row">

                <div class="features4-main col-lg-4 col-md-6 col-sm-6 mb-4 pb-1">
                    <a href="services-single.html"><img src="~/KanitPesinde/assets/images/saniklar/kerimkizil.jpg" alt=""></a>
                    <div class="features4-grid">
                        <h5><a href="services-single.html"> Kerim Kızıl </a></h5>
                        <p class="para">
                            Ayçanur Kızıl'ın Kocası
                        </p>
                    </div>
                </div>

                <div class="features4-main col-lg-4 col-md-6 col-sm-6 mb-4 pb-1">
                    <a href="services-single.html"><img src="~/KanitPesinde/assets/images/saniklar/nilgunmutlu.jpg" alt=""></a>
                    <div class="features4-grid">
                        <h5><a href="services-single.html"> Nilgün Mutlu </a></h5>
                        <p class="para">
                            Ayçanur Kızıl'ın Komşusu
                        </p>
                    </div>
                </div>

                <div class="features4-main col-lg-4 col-md-6 col-sm-6 mb-4 pb-1">
                    <a href="services-single.html"><img src="~/KanitPesinde/assets/images/saniklar/sinanay.jpg" alt=""></a>
                    <div class="features4-grid">
                        <h5><a href="services-single.html"> Sinan Ay </a></h5>
                        <p class="para">
                            Botanik Bahçelerinin Sahibi
                        </p>
                    </div>
                </div>

                <div class="features4-main col-lg-4 col-md-6 col-sm-6 mb-4 pb-1">
                    <a href="services-single.html"><img src="~/KanitPesinde/assets/images/saniklar/mustafacam.jpg" alt=""></a>
                    <div class="features4-grid">
                        <h5>
                            <a href="services-single.html">
                                Mustafa Çam
                            </a>
                        </h5>
                        <p class="para">
                            Gül Getiren Kargocu
                        </p>
                    </div>
                </div>

                <div class="features4-main col-lg-4 col-md-6 col-sm-6 mb-4 pb-1">
                    <a href="services-single.html"><img src="~/KanitPesinde/assets/images/saniklar/berilkaraca.jpg" alt=""></a>
                    <div class="features4-grid">
                        <h5>
                            <a href="services-single.html">
                                Beril Karaca
                            </a>
                        </h5>
                        <p class="para">
                            Kerim Kızıl'ın Sevgilisi
                        </p>
                    </div>
                </div>

                <div class="features4-main col-lg-4 col-md-6 col-sm-6 mb-4 pb-1">
                    <a href="services-single.html"><img src="~/KanitPesinde/assets/images/saniklar/yasinlale.jpg" alt=""></a>
                    <div class="features4-grid">
                        <h5><a href="services-single.html"> Yasin Lale </a></h5>
                        <p class="para">
                            Nazlı Çetin'in Eşi
                        </p>
                    </div>
                </div>

                <div class="features4-main col-lg-4 col-md-6 col-sm-6 mb-4 pb-1">
                    <a href="services-single.html"><img src="~/KanitPesinde/assets/images/saniklar/feritkanca.jpg" alt=""></a>
                    <div class="features4-grid">
                        <h5><a href="services-single.html"> Ferit Kanca </a></h5>
                        <p class="para">
                            Şile'deki Evin Sahibi
                        </p>
                    </div>
                </div>

                <div class="features4-main col-lg-4 col-md-6 col-sm-6 mb-4 pb-1">
                    <a href="services-single.html"> <img src="~/KanitPesinde/assets/images/saniklar/gokhankanca.jpg" alt=""></a>
                    <div class="features4-grid">
                        <h5><a href="services-single.html"> Gökhan Kanca </a></h5>
                        <p class="para">
                            Ferit Kanca'nın Oğlu
                        </p>
                    </div>
                </div>

                <div class="features4-main col-lg-4 col-md-6 col-sm-6 mb-4 pb-1">
                    <a href="services-single.html"><img src="~/KanitPesinde/assets/images/saniklar/yelizguru.jpg" alt=""></a>
                    <div class="features4-grid">
                        <h5><a href="services-single.html"> Yeliz Guru </a></h5>
                        <p class="para">
                            Elif Şam'ın Arkadaşı
                        </p>
                    </div>
                </div>

                <div class="features4-main col-lg-4 col-md-6 col-sm-6 mb-4 pb-1">
                    <a href="services-single.html"><img src="~/KanitPesinde/assets/images/saniklar/karsuince.jpg" alt=""></a>
                    <div class="features4-grid">
                        <h5><a href="services-single.html"> Karsu İnce </a></h5>
                        <p class="para">
                            Ayçanur Kızıl'ın Kurstan Arkadaşı
                        </p>
                    </div>
                </div>

                <div class="features4-main col-lg-4 col-md-6 col-sm-6 mb-4 pb-1">
                    <a href="services-single.html"><img src="~/KanitPesinde/assets/images/saniklar/erdemtan.jpg" alt=""></a>
                    <div class="features4-grid">
                        <h5><a href="services-single.html"> Erdem Tan </a></h5>
                        <p class="para">
                            Elif Şam'ın Eski Sevgilisi
                        </p>
                    </div>
                </div>

            </div>

        </div>

    </div>

</section>

