
@{
    ViewData["Title"] = "CrimeSceneTwo";
    Layout = "~/Views/Shared/_KanitPesindeLayout.cshtml";
}



<!-- OLAY YERİ 1 -->
<section class="w3l-inner-banner-main">
    <div class="about-inner inner2">
        <div class="container seen-w3">
            <h4 class="title">OLAY YERİ 1</h4>
            <ul class="breadcrumbs-custom-path">
                <li><a href="index.html">Ana Sayfa <span class="fa fa-angle-right" aria-hidden="true"></span></a></li>
                <li class="active">OLAY YERİ 2</li>
            </ul>
        </div>
    </div>
</section>
<!-- breadcrumbs //-->
<section class="w3l-search1">
    <!-- /search-section -->
    <div class="search-results section-gap">
        <div class="container">
            <div class="search-top">

                <div class="search-text-info">
                    <div class="search-content">
                        <article class="search-grid">
                            <div class="search-left-img">
                                <a href="#url" class="thumbnail">
                                    <img class="img-responsive" src="~/KanitPesinde/assets/images/ormanevi.png"
                                         alt="search">
                                </a>
                            </div>

                            <div class="search-right-info excerpet">
                                <p class="para">
                                    06.04.2022 çok güzel bir sabah. Nazlı bugün bu ormanda benim meleğim oldu.Artık ömür boyu beni koruyacak
                                </p>

                            </div>
                        </article>

                        <article class="search-grid">
                            <div class="search-left-img">
                                <a href="#url" class="thumbnail">
                                    <img class="img-responsive" src="~/KanitPesinde/assets/images/toka.png"
                                         alt="search">
                                </a>
                            </div>

                            <div class="search-right-info excerpet">

                                <p class="para">
                                    Nazlı'nın tokasını da boş yere aramayın. Diğer kadınlarımdan aldığım hediyelerle aynı yere koydum. Bu fotoğrafta tam 6 kadının hatırası var..
                                </p>

                            </div>
                        </article>


                        <article class="search-grid">
                            <div class="search-left-img">
                                <a href="#url" class="thumbnail">
                                    <img class="img-responsive" src="~/KanitPesinde/assets/images/blood.png"
                                         alt="search">
                                </a>
                            </div>

                            <div class="search-right-info excerpet">
                                <p class="para">
                                    Önceki mektubumda beni fazla umursamadığınız için size Ayça'nın kanlı gömleğini bu mektup ile gönderiyorum.

                                </p>

                            </div>
                        </article>
                       

                       <br />
                       <br />
                     
                        
                            <p class="para">
                            Sevgili polis,  <br />
                                Yanı başınızdaki adamı nasıl görmediğinizi bana söyler misiniz? Davayı çözmeye çalışan dedektiflere de onlara kahkahalarla güldüğümü söyleyebilirsiniz. Belki bana inanmazsınız diye size Ayça'nın gömleğinden bir parça gönderdim. Elif'den maalesef bir şey alamadım. Onu huzurlu uykusuna hazırladığım sırada kapıyı bir adam çalmaya başladı. Serseri adam. Neyse ki yanına da olsa gülümü bırakabilirdim, melek şekline sokamadım ama olsun. Eğer gülü de koyamasaydım onu öldürmemin ne anlamı olurdu ki? Boş yere ölmüş bir zavallı olurdu. Oysa ki şimdi ne kadar da güzel uyuyor değil mi? Size bir mesajım vari. Ama bunu kolayca anlamanızı istemem. O zaman bir anlamı ve eğlencesi olmaz değil mi?
                            </p>
                        <br />
                             <img class="img-responsive" src="~/KanitPesinde/assets/images/kriptexmesaj.jpg" >
                        <br />
                        <br />

                        <p class="para">
                             Ve şimdi bana RoseKiller demenizi istiyorum. Ve tüm gazetelerde adımı duyuracak benim bir sanatçı olduğumdan bahsedeceksiniz. Beni övecek, avuçlarına gül koyduğum kadınlarımı paylaşacaksınız(Gülün gözükmesi önemli).
                            </p>
                     
                    

                    </div>
                </div>

            </div>
        </div>
    </div>
</section>



