
@{
    ViewData["Title"] = "CrimeSceneOne";
    Layout = "~/Views/Shared/_KanitPesindeLayout.cshtml";
}



<section class="w3l-inner-banner-main">
    <div class="about-inner inner2">
        <div class="container seen-w3">
            <h4 class="title">OLAY YERİ 1</h4>
            <ul class="breadcrumbs-custom-path">
                <li><a href="index.html">Ana Sayfa <span class="fa fa-angle-right" aria-hidden="true"></span></a></li>
                <li class="active">OLAY YERİ 2</li>
            </ul>
        </div>
    </div>
</section>
<!-- breadcrumbs //-->
<section class="w3l-search1">
    <!-- /search-section -->
    <div class="search-results section-gap">
        <div class="container">
            <div class="search-top">
                <div class="main-titles-head text-center">

                    <img class="img-responsive" src="~/KanitPesinde/assets/images/bicak.jpg"
                         alt="search">
                    <p class="para mt-3">
                        Sevgili katiliniz RoseKiller konuşuyor;
                        Artık beni tanımanızın vakti geldi. Kim olduğuma emin olmanız için de sevgili Ayça'mdan maktülümden kumaş örneğini size yollacağım. Merak etmeyin. Daha bende çok anısı var.
                        Bu gece onun kanlı tişörtüne sarılarak uyudum. Benim sevgili küçük Ayça'm. O kadar tatlıydı ki, onu öldürürken ayrı bir zevk aldım.
                        Umarım size bıraktığım sanat eseri hoşunuza gitmiştir.
                        Gazetelerde boy boy resmini görmek için sabırsızlanıyorum.
                        Ve lütfen haberleri yazarken benden RoseKiller olarak bahsedin.
                        Bir de teknolojinin ne kadar ilerlediğini bir bilseniz. İnsan hayret ediyor. 2.mektubumda bunun ayrıntılarını size vereceğim.
                    </p>
                </div>

            </div>
        </div>
    </div>
</section>