@using EntityLayer.Concrete
@model List<About>

<section class="w3l-call-to-action_9">
    <div class="call-w3">
        <div class="container">
            <div class=" main-cont-wthree-2">
                <div class="left-contect-calls text-center">
                    <h3 class="header-name">About The Game</h3>
                    <p class="tiltle-para">
                        Sit amet cons ectetur adipis icing elit.optio illum officiis itaque
                        soluta
                        impedit ex esse aspernatur Sit amet cons ectetur adipis icing elit.optio illum officiis
                        itaque
                        soluta impedit ex esse aspernatur Sit amet cons ectetur adipis icing elit.optio illum
                        officiis
                        itaque soluta impedit ex esse aspern aturCu mque iosam omnis tempo recons ectetur adipis
                        icing elit.optio illum officiis itaque
                        illum officiis .
                    </p>
                    <div class="call-grids-w3 ">
                        <div class="grids-effect-2">
                            <span>45</span>
                            <h4>Tea</h4>
                        </div>

                        <div class=" grids-effect-2">
                            <span>26</span>
                            <h4>Coffee</h4>
                        </div>
                        <div class="grids-effect-2">
                            <span>36</span>
                            <h4>Awards</h4>
                        </div>
                        <div class="grids-effect-2">
                            <span>130</span>
                            <h4>Smiles</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

