<!-- İPUCU 1 -->
<section class="w3l-inner-banner-main">
    <div class="about-inner inner2">
        <div class="container seen-w3">
            <h4 class="title">İPUCU SAYFASI</h4>
            <ul class="breadcrumbs-custom-path">
                <li><a href="index.html">Ana Sayfa <span class="fa fa-angle-right" aria-hidden="true"></span></a></li>
                <li class="active">İpucu Sayfası</li>
            </ul>
        </div>
    </div>
</section>
<!-- breadcrumbs //-->
<section class="w3l-faq-page">
    <div class="faq-main">
        <div class="container">
            <div class="main-titles-head text-center">

                <h3 class="header-name">
                    İpuçlarının şifresini çöz ve katili bul!
                </h3>
                <p class="para mt-3">
                    İpuçlarını çözmek için biraz kafa yorman gerekiyor. Eğer bulamazsan " İPUCUNA GİT " butonuna bas ve ipucunu bulmaya çalış. İpucunu bulamazsan oyuna devam edemeyeceğini unutma!
                </p>
            </div>
            <div class="faq-both-pages">
                <div class="faq-content">
                    <div class="faq-question">
                        <input id="q1" type="checkbox" class="panel">
                        <div class="plus">+</div>
                        <label for="q1" class="panel-title">
                            <h4>Ayçanur Kızıl'ın Güvenlik Kamerası Görüntüleri</h4>
                        </label>



                        <div class="row main-cont-sec">
                        </div>


                        <div class="panel-content">
                            <div id="hintFormContent" class="row">

                                <div class="col-lg-6 left-cont-contact">
                                    <div class="form-group input-gap">
                                        <input class="form-control" type="text" id="passwordValue" placeholder="Şifreyi Giriniz">
                                    </div>

                                </div>
                                <div class="col-lg-6 right-cont-contact">
                                    <div class="form-group">
                                        <a class="btn btn-primary" id="passwordControlBtn">Gönder</a>
                                        <a href="/Investigation/InvestigationOne/1" class="btn btn-danger">İpucuna Git</a>
                                    </div>
                                </div>

                                <div class="col-lg-12">
                                    <div id="hintErrorMessage"></div>
                                </div>

                            </div>
                            <div id="hintVideoContainer">
                                <video width="320" height="240" controls>
                                    <source src="~/KanitPesinde/assets/videos/olumani.mp4" type="video/mp4">
                                </video>
                            </div>
                        </div>
                    </div>

                    <div class="faq-question">
                        <input id="q2" type="checkbox" class="panel">
                        <div class="plus">+</div>
                        <label for="q2" class="panel-title">
                            <h4>Nazlı Çetin'in Cesedinin Yanında Bulunan Ayakkabı Numarası (42 -43)</h4>
                        </label>
                        <div class="panel-content">
                            <b>Kerim Kızıl</b> : 42<br />
                            <b>Ferit Kanca</b> : 43<br />
                            <b>Sinan Ay</b> : 44<br />
                            <b>Beril Karaca</b> : 38<br />
                            <b>Erdem Tan</b> : 43<br />
                            <b>Gökhan Kanca</b> : 43<br />
                            <b>Mustafa Çam</b> : 45<br />
                            <b>Karsu İnce</b> : 42<br />
                            <b>Nilgün Mutlu</b> : 39<br />
                            <b>Yasin Lale</b> : 42<br />
                            <b>Yeliz Guru</b> : 38<br />
                        </div>
                    </div>

                    <div class="faq-question">
                        <input id="q3" type="checkbox" class="panel">
                        <div class="plus">+</div>
                        <label for="q3" class="panel-title">
                            <h4>Nazlı ve Yasin'in Araba Kamerası Kayıtları</h4>
                        </label>
                        <div class="panel-content">
                            <video width="320" height="240" controls>
                                <source src="~/KanitPesinde/assets/videos/YasinNazliArabaKaydi.mp4" type="video/mp4">

                            </video>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</section>
