

<section class="w3l-inner-banner-main">
    <div class="about-inner inner2">
        <div class="container seen-w3">
            <h4 class="title">DEDEKTİFİN HİKAYESİ</h4>
            <ul class="breadcrumbs-custom-path">
                <li>
                    <a href="index.html"> Ana Sayfa <span class="fa fa-angle-right" aria-hidden="true"></span></a>
                </li>
                <li class="active"> Dedektifin Hikayesi </li>
            </ul>
        </div>
    </div>
</section>

<section class="w3l-services-single">
    <div class="service-single-page">
        <div class="container">
            <div class="main-titles-head text-center">
                <h3 class="header-name">
                    Dedektif Hikayesi
                </h3>
                <p class="para mt-3">
                    Son birkaç vakada istediğim gibi ilerleyemedim. Bu yüzden üstlerimle aram kötü. Bu vakayı da çözemezsem işimi kaybedeceğim.
                </p>
            </div>
            <div class="row">
                <div class="col-lg-6 image-col">
                    <img src="~/KanitPesinde/assets/images/dedektifhikayesi/kaza1.jpg" alt="">
                </div>
                <div class="col-lg-6 text-col">
                    <h4>Merhaba ben Emre Anlı. 2003 senesinden bugüne kadar dedektiflik yapıyorum.</h4>
                    <p class="para">
                        Sayısız cinayet çözdüm. En çözülemez denilen vakayı bile 1 hafta içinde adliyeye taşıdım. Sayısız madalya ve onur ödülleri aldım. 5 ay önce bir trafik kazası geçirdim. Aslında bu bir suikasttı. Peşinde olduğum katili yakalamama ramak kala katil tarafından az daha öldürülüyordum. Bu tabiki başıma ilk defa gelen birşey değil ama bu sefer ölüme çok yakındım. Bu tarz şeyler beni asla yıldıramaz fakat hastanede tedavi görürken işimden çok geri kaldım ve son birkaç vakayı çözemedim.
                    </p>
                    @*<a href="#page" class="btn action-button btn-primary mt-lg-5 mt-4 ">Read more</a>*@
                </div>
            </div>
            <div class="row mt-5 mb-5 pt-lg-4 pb-lg-4 ">
                <div class="col-lg-6 text-col mt-0">
                    <h4>Eşim ve çocuklarım bana bu süreçte çok destek oldular beni ayağa kaldıran bu sevginin karşılığını asla veremem.</h4>
                    <p class="para">
                        Bu süreç şüphesizki en çok ailemi yıprattı. Eşim Dilan çocukların ve benim peşimden koştururken benim yapabildiğim tek şey yatmaktı. Bir zaman sonra fizik tedavinin ve aileminde desteğiyle ayağa kalkmaya başardım. Şimdi ise çöken maddi durumumu toparlamam gerekiyor.
                    </p>
                   @* <a href="#page" class="btn action-button btn-primary mt-lg-5 mt-4">Read more</a>*@
                </div>
                <div class="col-lg-6 image-col">
                    <img src="~/KanitPesinde/assets/images/dedektifhikayesi/aile.jpg" alt="">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 image-col">
                    <img src="~/KanitPesinde/assets/images/dedektifhikayesi/vaka.jpg" alt="">
                </div>
                <div class="col-lg-6 text-col">
                    <h4>Son birkaç vakada resmen çuvallamış durumdayım...</h4>
                    <p class="para">
                        Bu kaza sonucu kendi toparlama sürecim hala devam ediyor. Elimde çözemediğim 2 dava var ve bana şimdi 3. sünü verecekler. Eğer bu vakaları çözemezsem işim çok büyük bir sıkıntıya girecek. Böyle bir şeyi aileme yapamam. Onlar benim için çok fazla emek verdiler ve şimdi sıra bende.
                    </p>
                    @*<a href="#page" class="btn action-button btn-primary mt-lg-5 mt-4">Read more</a>*@
                </div>
            </div>
        </div>
    </div>
</section>

